QMainWindow,
QAbstractItemView,
QTabBar::tab
{
    color: #EAEAEA;
    background: #5C5C5C;
}

/* I like selected items blue */
/*
QAbstractItemView::item:selected {
    color: #EAEAEA;
    background-color: #0000FF;
}
*/

QScrollBar {
    background: #909090;
}

QHeaderView::section {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0 #616161, stop: 0.5 #505050,
                                      stop: 0.6 #434343, stop:1 #656565);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QTabBar::tab:selected {
    color: #FFFFFF;
    background: #888888;
    border: 1px solid #666666;
    padding: 5px 5px 5px 5px;
}

QTabBar::tab:!selected {
    color: #CCCCCC;
    background: #666666;
    border: 1px solid #444444;
    padding: 5px 5px 5px 5px;
}

QToolBar {
     border-style: solid;
     border-style: outset;
     color: #EAEAEA;
     background: #333333; 
     font-size: 9pt;
}

QDialog
{
    color: #EAEAEA;
    background: #999999;
}

QObject[windowTitle="Search Results"] QWidget
{
    color: #FFFFFF;
    background: #666666;
}

QObject[windowTitle="Issues"]
{
    color: #EAEAEA;
    background: #666666;
}

QObject[windowTitle="Locals and Expressions"]
{
    color: #000000;
    background: #FFFFFF;
}

QWidget[windowTitle="Compile Output"],
QWidget[windowTitle="Version Control"],
QWidget[windowTitle="QML/JS Console"]
{
    color: #EAEAEA;
    background: #222222;
}

QTabWidget QPlainTextEdit
{
    color: #EAEAEA;
    background: #222222;
}

/*QPlainTextEdit {
    color: #EAEAEA;
    background: #222222;
}*/

